.board {
  position: relative;
  
  div {
    display: flex;
    flex-direction: row;

    span {
      display: flex;
      flex-direction: column;
      
      justify-content: center;
      align-items: center;
      vertical-align: baseline;

      width: 140px;
      height: 140px;

      .x-icon {
        width: 100px;
        stroke-width: 1.6px;
        color: #272424;

        cursor: pointer;
      }

      .circle-icon {
        width: 75px;
        stroke-width: 2px;
        stroke:#bdc1c6;

        cursor: pointer;
      }
    }
  }
  
  span ~ span {
    border-left: 7px solid #2f285e;
  }

  div ~ div {
    border-top: 7px solid #2f285e;
  }

}

