.board {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  
  div {
    display: flex;
    flex-direction: row;
    
    span {
      display: flex;
      flex-direction: column;
      
      justify-content: center;
      align-items: center;
      vertical-align: baseline;

      width: 140px;
      height: 140px;

      .x-icon {
        width: 100px;
        stroke-width: 1.6px;
        color: var(--x-icon);

        cursor: pointer;
      }

      .circle-icon {
        width: 75px;
        stroke-width: 2px;
        stroke: var(--circle-icon);

        cursor: pointer;
      }
    }
  }
  
  span ~ span {
    border-left: 7px solid var(--secondary);
  }

  div ~ div {
    border-top: 7px solid var(--secondary);
  }

}

