button {
  font-size: 50px;
  font-weight: medium;
  

  border: 0;
  border-radius: 5px;
  background: none;

  cursor: pointer;
  transition: color font-weight 3s;

  &:not(:disabled):hover {
    // color: rgb(37, 37, 37);
    color: aliceblue;
    font-weight: bold;
    transition: ease .2s;
  }
}