button {
  font-size: 40px;
  font-weight: medium;
  color: aliceblue;

  border: 0;
  border-radius: 5px;
  background: none;

  cursor: pointer;
  transition: color font-weight 3s;

  &:not(:disabled):hover {
    color: rgb(37, 37, 37);
    font-weight: bold;
    transition: ease .2s;
  }
}