.velhia-header {
  display: flex;
  flex-direction: column;

  margin-top: 45px;
  
  width: 100%;
  max-width: 60vw;

  height: 300px;

  .turn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 30px;
    
    .x-icon {
      width: 30px;
      stroke-width: 2px;
      stroke: var(--x-icon);
      margin-left: 5px;
    }

    .circle-icon {
      width: 28px;
      stroke-width: 2px;
      stroke: var(--circle-icon);
      margin-left: 5px;
    }
  }
}