.player-input {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 10px;

  width: 470px;
  background: white;

  border-radius: 5px;

  .input-container {
    display: flex;
    justify-content: space-between;

    width: 400px;
    margin-block: 20px;
  }

  .input-container div {
    display: flex;
    align-items: flex-end;
  }

  .dice {
    width: 30px;
    margin-left: 15px;
    color: #483D8B;
    cursor: pointer;
  }

  select, input {
    width: 170px;
    height: 45px;
  }

  input {
    padding: 10px;
    font-weight: medium;
    font-size: 20px;
    border: 0;
    border-bottom: 2px solid #333;
  }

  img {
    width: 100px;
  }

  .piece-container {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .piece-container svg {
    width: 25px;
    stroke-width: 2.5px;
    cursor: pointer;
    color: gray;
  }

  .piece-container .circle {
    width: 20px;
    stroke-width: 2.8px;
  }

}

.selected {
  stroke: #130f36;
}