#page-register {
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 100vw;
  height: 100vh;

  .players-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 450px;

    > div ~ div {
      margin-left: 150px;
    }

    @media (max-width: 1120px) {
      display: flex;
      flex-direction: column;

      > div ~ div {
         margin-top: 50px;
         margin-left: 0;
      }
    }
  }

  .match-type-select {
    width: 350px;
    margin-top: 50px;
  }

  .button-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
}