#page-welcome {
  display: flex;
  background-size: cover;
  flex-direction: column;
  flex: 1;

  height: 100vh;

  justify-content: center;
  align-items: center;
 
  .info-icon {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 30px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  div.play-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    height: 250px;

    button ~ button {
      margin-top: 40px;
    }
  }

  div.start-options {
    display: flex;
    align-items: center;
    height: 110px;
    margin-top: 100px;
    transition: 0.2s;
    
    cursor: url(https://img.icons8.com/ios-filled/50/000000/hand-up.png); 
    
    span {
      font-family: 'Itim';
      font-weight: medium;
      font-size: 50px;
      margin-left: 15px;
    }

    &:hover {
      color: rgb(214, 214, 214);

      span {
        font-weight: bold;
      }
    }
  }

  .play {
    width: 80px;
    cursor: pointer;
  }
}